OPENVPN_BIND="0.0.0.0:1194"
OPENVPN_CONF="/etc/openvpn/server.conf"
OPENVPN_STATS="/etc/openvpn/openvpn-status.log"
OPENVPN_CCD="/etc/openvpn/ccd"
OPENVPN_PKI="/etc/openvpn/pki"
OPENVPN_CERTS="/etc/openvpn/pki/certs"
OPENVPN_CERTS_ALLOW="/etc/openvpn/pki/user-cert-list.txt"
